.App {
  text-align: center;
}

.center {
  display: flex;
  justify-content: center;
}

.column {
  flex-direction: column;
  align-items: center;
}

.Particles {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

img {
  width: 23rem;
  
  max-height: 28rem; 
  object-fit: contain; 
  
}
