  
  body {
  margin: 0;
  padding: 0;
  
  font-family: 'Courier New', Courier, monospace, sans-serif;
  background: linear-gradient(90deg, #470370 0%, #fc4ad2 100%);
 
}

button {
  cursor: pointer;
}
